@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sfi2l');
  src:  url('../fonts/icomoon.eot?sfi2l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sfi2l') format('truetype'),
    url('../fonts/icomoon.woff?sfi2l') format('woff'),
    url('../fonts/icomoon.svg?sfi2l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitch:before {
  content: "\e900";
  color: #6441a4;
}
.icon-uikit:before {
  content: "\e901";
  color: #2396f3;
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-chevron-up:before {
  content: "\e905";
}
.icon-bars:before {
  content: "\e906";
}
.icon-srch:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
